body{
    background-image: url("/Users/sheinatolmas/Documents/dev/website_building/MatchGame/I_love_90s.png");
    background:cover;
    background-repeat:no-repeat;
    height:100%;
  
}

.side-menu{
        top:0;
        left:0;
        bottom:0;
        width: 20%;
        background-color:Salmon;
        position:fixed;
        text-align:center;
      
}

#game{
    top: 0;
    right:0;
    bottom:0;
    border: 18px solid black;
    width:70%;
    margin-left:20%;
    position:fixed;
}

