body{
    background-image: url("/Users/sheinatolmas/Documents/dev/website_building/MatchGame/90s_again.jpg");
    background:cover;
    background-repeat:no-repeat;
    max-width:100%;

}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

#overlay .modal{
font-family:'Indie Flower', cursive;
background-color: white;
min-width: 500px;
min-height: 200px;
position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
padding: 40px;
border-radius: 5px;
}

#overlay button{
    font-size:50px;
    margin-left:40%;
    z-index:2;
    border: 12px solid black;
}

h1{
    position: relative;
    text-align: center;
    font-size: 50px;
    display:inline-block;
    padding:20px;
    top:0;
    left:20%;
    color: rgb(87, 122, 76);
    z-index:1;
    background:white;
    
}
h2{
    font-family:'Indie Flower', cursive;
    font-size:50px;
    
}

.modal-content{
    font-family:'Indie Flower', cursive;
    z-index:1;
    font-size:25px;

}
 
.difficulty button{
    font-family:'Indie Flower', cursive;
    position:relative;
    left:50px;
    font-size:50px;
    margin:10px;
    z-index:1;
    border: 10px solid black;
}
button:hover{
    background:rgb(78, 126, 148);
}


#game{
    top: 0;
    right:0;
    bottom:0;
    width:70%;
    text-align:center;
    position:fixed;
}

#game img{
    border:10px solid black;
    box-sizing: border-box;
    background:white;
    transform:scale(0.9);/* to resize images*/
    transition:transform 0.5s;

}
#game img.matched{
    transform:scale(0);

}
/*check responsiveness*//
@media screen and (max-width:600px){
    .modal h1{
        font-size:16px;
    }
}
@media screen and(min-width:700px){
    .modal h1{
        font-size:50px;
    }

}

#winner{
    display:none;

}
#winner.winner-revealed{
    font-family:'Indie Flower', cursive;
    text-align:center;
    font-size:50px;
    top: 10%;
    left: 30%;
    min-width: 500px;
    min-height: 200px;
    background: rgb(172, 117, 172);
    position:absolute;
    display:block;
    margin-right:50%;
    z-index:2;
}

#winner button{
    font-size:50px;
}


